.Evaluering {
    color: #EC8B5E;
    text-shadow: 0px 4px 4px black;
}
.faces{
    user-select: none;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    overflow: hidden;
    background-color: #EC8B5E;
    color: black;  
}
.evalueringSendInn {
    border-radius: 10px;
    box-shadow: 0px 3px 3px black;
    width: 25%;
    height: 35px;
    text-align: center;
    border: solid #EC8B5E;
    background-color: #EC8B5E;
    font-size: 70%;
    color: black;
}