.hvaermobbing {
    color: #EC8B5E;
    text-shadow: 0px 4px 4px black;
}
.underline {
    color: #EC8B5E;
}
.funkpls {
    text-align: left;
    left: 26%;
}
.funkpls2 {
    text-align: left;
    left: 26%;
}
.waddup {
    align-items: center;
    width: 100vh;
    position: relative;
    left: 0%;
    margin-left: 30%;
    
}
