<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NetNinja Vue</title>
    <link href="styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="vue-app">
        <h1>{{ greet(' Night') }}</h1>
        <p>Name: {{ name }}</p>
        <p>Job: {{ job }}</p>
        <a :href="website">Vg</a>
        <input type="text" :value="name" />
        <p v-html="websiteTag"></p>
    </div>
    <hr>

    <div id="vue-app-two">
        <h1>Events</h1>
        <button @click="add(1)">Add a Year</button>
        <button @click="subtract(1)">Subtract a Year</button>
        <button @dblclick="add(10)">Add 10 Years</button>
        <button @dblclick="subtract(10)">Subtract 10 Years</button>
        <p>My age is {{ age }}</p>
        <div id="canvas" @mousemove="updateXY">{{ x }}, {{ y }}</div>
        <a href="https://www.vg.no/" @click.prevent="click">Denne linken funker ikke</a>
    </div>
    <hr>

    <div id="vue-app-three">
        <h1>Keyboard Events</h1>
        <label>Name:</label>
        <input type="text" v-model="name" />
        <span>{{ name }}</span> </br>
        <label>Age:</label>
        <input type="number" v-model="age" />
        <span>{{ age }}</span>
    </div>
    <hr>

    <div id="vue-app-four">
        <h1>Computed Properties</h1>
        <button @click="a++">Add to A</button>
        <button @click="b++">Add to B</button>
        <p>A - {{ a }}</p>
        <p>A - {{ b }}</p>
        <p>Age + A = {{ addToA }}</p>
        <p>Age + B = {{ addToB }}</p>
    </div>
    



    <script src="vuenetninja.js"></script>
</body>

</html>