#bag {
    width: 200px;
    height: 500px;
    margin: 0 auto;
    background: url(C:/Users/Martin/Documents/GitHub/StartIT4/student/martin/netninja/bag.png) center no-repeat;
    background-size: 80%;
}
