<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        table,
        td {
            border-collapse: collapse;
            border: solid 1px gray;
            padding: 2px;
        }

        tr:nth-child(even) {
            background: #CCC;
        }

        tr:nth-child(odd) {
            background: #FFF;
        }

        th {
            background-color: blue;
            color: white;
        }
    </style>
</head>

<body>
    <div id="mainContent">
        <table>
            <tr>
                <!-- Lager en "for løkke"
                Som lager en "table header" for vært felt i fields -->
                <th v-for="field in fields">{{field}}</th>
                <th></th>
            </tr>
            <!-- Lager en "for løkke"
                Som lager en "table row" for vær unit
                Tar også med "index" -->
            <tr v-for="(unit, index) in units">
                <td v-for="field in fields">
                    <!-- Litt usikker på hva "template" gjør enda.
                    Men du kan bruke det som en "container" -->
                    <template v-if="unit.isEditing">
                        <input type="text" v-model="unit[field]" />
                    </template>
                    <template v-else>
                        {{unit[field]}}
                    </template>
                </td>
                <td v-if="unit.isEditing">
                    <button v-on:click="changeEdit(index, false, true)">cancel</button>
                    <button v-on:click="changeEdit(index, false)">save</button>
                </td>
                <td v-else>
                    <button v-on:click="changeEdit(index)">edit</button>
                </td>
            </tr>
        </table>

    </div>

    <script src="enheter.json"></script>
    <script>
        var app = new Vue({
            el: '#mainContent',
            data: {
                units: function () {
                    units.forEach(u => u.isEditing = false);
                    return units;
                }(),
                fields: ['organisasjonsnummer', 'antallAnsatte', 'navn',]
            },
            methods: {
                changeEdit: function (index, isEditing = true, revert = false) {
                    if (isEditing) {
                        // lager en ny "property", som kopierer det gammle objektet
                        this.units[index].oldValue = JSON.parse(JSON.stringify(this.units[index]));
                    } else if (revert) {
                        // Går igjennom alle feltene til "fields", og setter verdien til det gammle "objektet"
                        this.fields.forEach(f => this.units[index][f] = this.units[index].oldValue[f]);
                    }
                    this.units[index].isEditing = isEditing;
                }
            }
        })
    </script>
</body>

</html>